    .text-small {
    font-size: 0.9rem;
  }
  
  a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
  }
  
  .btn{
    background-color: darkblue;
  }
  
  footer {
    background: white;
  }

  .fBPI{
    color: #f53803;
  }
  